#header {
    background-color: rgb(127, 0, 255);
}

#jenkins-name-icon {
    width:139px;
    height:34px;
    padding-left: 139px;
    background: url(https://rawgit.com/clearswift/SimpleJenkinsThemes/master/PreprodJenkins.png);
}
