#header {
    background-color: #A00000;
}

#jenkins-name-icon {
    width:278px;
    height:68px;
    padding-left: 278px;
    background: url(https://rawgit.com/icotton/SimpleJenkinsThemes/master/TestJenkins.png);
}
