#header {
    background-color: rgb(127, 0, 255);
}

#jenkins-name-icon {
    width:139px;
    height:34px;
    padding-left: 139px;
    background: url(https://cdn.rawgit.com/clearswift/jenkinstheme/a689ae31/PreprodJenkins.png);
}
